<!--Cuando uso corchetes [routerLink]  significa que estás pasando una propiedad enlazable(una variable)
sin corchetes estás pasando solo cadena y no puedes cambiarla, está codificada y será así en toda tu app -> <a routerLink="/home"></a>
-->
    <ng-container *ngIf="libro!=undefined">
      <mat-card class="example-card">
        <!--Si el libro no tiene thumbail, le añado una imagen que tengo en la carpeta assets-->
        <img
          [routerLink]="'/libros/libro-detalle/' + libro.id"
          mat-card-image
          [src]="libro.thumbnail ? libro.thumbnail : '../../assets/imagenlibro.jpg'"
          alt="Portada del libro"
        />
        <mat-card-header>
          <mat-card-title class="titulo" (click)="dameDetalle()">{{libro.title | cortaTexto : 40}}</mat-card-title> <!--Uso pipe cortaTexto, situado en el modulo shared-->
          <mat-card-subtitle>{{libro.authors?.join(', ') | cortaTexto : 20}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>

