<div *ngIf="libroSeleccionado" class="bookpage_gridcontainer">
    <div class="bookpage_leftcolumn">
        <div class="sticky">
            <div class="bookpage_bookcover">
                <img mat-card-image [src]="libroSeleccionado.thumbnail ? libroSeleccionado.thumbnail : '../../assets/imagenlibro.jpg'" alt="Portada del libro">
            </div>
           
            <div class="rating-container">
                <div class="bookActions">
                    <div class="bookActions_button">
                        <button (click)="agregarAFavoritos(libroSeleccionado)" (click)="openDialog('1000ms', '500ms')" [disabled]="!estaAutenticado">{{estadoLibro}}</button>
                    </div>
                </div>
                <!--PARA BBDD<app-puntuacion-media [puntuacionMedia]="obtenerPuntuacionMedia(libroSeleccionado)"></app-puntuacion-media>-->
                <app-puntuacion-media [puntuacionMedia]="obtenerPuntuacionMedia(libroSeleccionado)"></app-puntuacion-media>

            </div>

            
            
        </div>
    </div>
    <div class="bookpage_rightcolumn">
        <div class="container">
            <div class="libro-container">
                <!--
              <div *ngFor="let libro of listaLibros" class="libro-card">    
                <app-libro [libro] = "libro"></app-libro>  
              </div>
              -->
            </div>  
        </div>

        <!-- Contenido de la columna derecha -->
        <h2>Título: {{ libroSeleccionado.title }}</h2>
        <p>Puntuación Media: {{ obtenerPuntuacionMedia(libroSeleccionado) }} <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></p>
        <p>Autor(es): {{ libroSeleccionado.authors?.join(', ') }}</p>
        <p>Editorial: {{ libroSeleccionado.publisher }}</p>
        <p>Resumen:</p>
        <div [innerHTML]="libroSeleccionado.description"></div>
        <!-- Otros detalles del libro -->
        <h3>ACTIVIDAD COMPONENTE</h3>
        <!--TODO QUIERO QUE SOLO SE VEA SI ESTOY AUTENTICADO-->
        <app-libro-actividad *ngIf="estaAutenticado" [idLibroEnvio]="libroSeleccionado.id ?? ''"></app-libro-actividad>

        <h2>Actividad escrita a mano</h2>
        <p><span style="color: blueviolet;">FULANITA</span> LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>MENGANITA ha escrito la siguiente reseña: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi repellendus cum aliquid non harum laudantium voluptas, iste voluptate alias doloribus eveniet distinctio amet dolor accusamus molestias maxime. Quod, sapiente.</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>MENGANITA ha escrito la siguiente reseña: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi repellendus cum aliquid non harum laudantium voluptas, iste voluptate alias doloribus eveniet distinctio amet dolor accusamus molestias maxime. Quod, sapiente.</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>MENGANITA ha escrito la siguiente reseña: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi repellendus cum aliquid non harum laudantium voluptas, iste voluptate alias doloribus eveniet distinctio amet dolor accusamus molestias maxime. Quod, sapiente.</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>MENGANITA ha escrito la siguiente reseña: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi repellendus cum aliquid non harum laudantium voluptas, iste voluptate alias doloribus eveniet distinctio amet dolor accusamus molestias maxime. Quod, sapiente.</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>MENGANITA ha escrito la siguiente reseña: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi repellendus cum aliquid non harum laudantium voluptas, iste voluptate alias doloribus eveniet distinctio amet dolor accusamus molestias maxime. Quod, sapiente.</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>
        <p>FULANITA LE HA DADO <mat-icon>star</mat-icon><mat-icon>star</mat-icon> ESTRELLAS</p>

        
    </div>
</div>


