.detalle-libro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgb(217, 217, 241);
  }
  
  .detalle-libro-content {
    display: flex;
    align-items: center;
  }
  
  .detalle-libro-info {
    margin-left: 20px; /* Ajusta el margen según sea necesario */
  }
  

  /*pruebas*/


  .bookpage_gridcontainer {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
}

.bookpage_leftcolumn {
    position: relative;
}

.sticky {
    position: sticky;
    top: 20px; /* Ajusta la distancia desde la parte superior según sea necesario */
    margin-left: 20px;
}

.bookpage_bookcover img {
    width: 50%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.bookpage_rightcolumn {
    /* Estilos para la columna derecha */
}

.bookActions_button button {
    /* Estilos para el botón "Añadir a Favoritos" */
}

mat-icon{
    color: rgb(22, 78, 161);
}
