.bookpage_gridcontainer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.bookpage_leftcolumn {
    position: fixed;
    top: 110px;
    left: 30px;
    width: 15%;
}

.bookpage_bookcover img {
    width: 80%; 
    margin-left: 25px;
}

.bookpage_rightcolumn {
    width: 70%;
    margin-top: 30px;
    margin-left: 50%; 
}



button{
    padding: 10px;
    background-color: #CE7979;
    cursor:pointer;
}


mat-icon{
    color: rgb(22, 78, 161);
}


.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

/*Estrellas
.rating {
    margin:10px;
    align-items: center;
    font-size: 3em;
    display: flex;
    align-items: center;
    direction: rtl;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    color: #ffcc00;
}

.star1:hover ~ label {
    color: #ffcc00;
}

.star2:hover ~ label {
    color: #ffcc00;
}

.star3:hover ~ label {
    color: #ffcc00;
}

.star4:hover ~ label {
    color: #ffcc00;
}

input[type="radio"]:checked ~ label {
    color: #ffcc00;
}*/
