.bookpage_gridcontainer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cambié la definición de columnas para que la izquierda tenga un ancho fijo */
    gap: 20px;
}

.bookpage_leftcolumn {
    position: fixed;
    top: 110px;
    left: 30px;
    width: 15%; /* Ancho fijo para la columna izquierda */
}

.bookpage_bookcover img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.bookpage_rightcolumn {
    width: 100%;
    margin-left: 50%; /* Ajusta el margen izquierdo para dejar espacio para la columna izquierda */
}

/* Otros estilos según sea necesario */




mat-icon{
    color: rgb(22, 78, 161);
}

/*Estrellas*/
.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating {
    margin:10px;
    align-items: center;
    font-size: 3em;
    display: flex;
    align-items: center;
    direction: rtl;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
}

label:hover {
    color: #ffcc00;
}

.star1:hover ~ label {
    color: #ffcc00;
}

.star2:hover ~ label {
    color: #ffcc00;
}

.star3:hover ~ label {
    color: #ffcc00;
}

.star4:hover ~ label {
    color: #ffcc00;
}

input[type="radio"]:checked ~ label {
    color: #ffcc00;
}
