<i [attr.data-star]="puntuacionMedia.toString()"></i>


<!--
<div class="rating-container">
    <div class="rating" id="rating">
        <input type="radio" name="star" id="star1" class="star1" [checked]="puntuacionMedia >= 4.5 && puntuacionMedia < 5" disabled>
        <label class="star-label" for="star1">&#9733;</label>
        <input type="radio" name="star" id="star2" class="star2" [checked]="puntuacionMedia >= 3.5 && puntuacionMedia < 4.5" disabled>
        <label class="star-label" for="star2">&#9733;</label>
        <input type="radio" name="star" id="star3" class="star3" [checked]="puntuacionMedia >= 2.5 && puntuacionMedia < 3.5" disabled>
        <label class="star-label" for="star3">&#9733;</label>
        <input type="radio" name="star" id="star4" class="star4" [checked]="puntuacionMedia >= 1.5 && puntuacionMedia < 2.5" disabled>
        <label class="star-label" for="star4">&#9733;</label>
        <input type="radio" name="star" id="star5" class="star5" [checked]="puntuacionMedia >= 0 && puntuacionMedia <= 1.5" disabled>
        <label class="star-label" for="star5">&#9733;</label>
    </div>
</div>
<p>Puntuación Media: <strong> {{ puntuacionMedia }} / 5</strong></p>
-->