<div class="rating-container">
    <div class="rating" id="rating">
        <input type="radio" name="star" id="star1" class="star1" (click)="rate(5)">
        <label for="star1">&#9733;</label><!--El código &#9733; es una entidad HTML que representa un carácter especial en HTML llamado "Black Star"-->
        <input type="radio" name="star" id="star2" class="star2" (click)="rate(4)">
        <label for="star2">&#9733;</label>
        <input type="radio" name="star" id="star3" class="star3" (click)="rate(3)">
        <label for="star3">&#9733;</label>
        <input type="radio" name="star" id="star4" class="star4" (click)="rate(2)">
        <label for="star4">&#9733;</label>
        <input type="radio" name="star" id="star5" class="star5" (click)="rate(1)">
        <label for="star5">&#9733;</label>
    </div>
</div>
