.container{   
  background-color: #EFE8E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenedor-actividad {
    background-color: #e2dddd;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


.entry-container {
    display: flex;
    align-items: flex-start;;
    background-color: #00426C;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 1px #e4c57f;
    padding: 10px;
    margin: 30px; /* Puedes ajustar el margen según tus preferencias */
    width: 70%;
  }

  
  .activity-item {
    color:#EFE8E8;
    margin-left: 20px;
    align-self: flex-start;
  }

  .fecha{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    padding: 10px;
  }

  .infoEstado{
    font-family: serif;
    font-size: 1.5rem;
    padding: 10px;
  }

  .infoRes{
    color:#302B2D;
    background-color: #EFE8E8;
    font-family: cursive;
    font-size: 1.3rem;
    line-height: 30px;
    padding: 10px;
    width: 90%;
    white-space: pre-line; /* Para respetar los saltos de línea */
    border-radius: 4px; /* Añadir esquinas redondeadas opcional */
    margin-top: 5px; /* Añadir margen superior opcional */
  }

  .puntuacion-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
  }

  .estrellas{
    padding: 5px;
  }
  
  .estrellas-container {
    display: flex;
    margin-right: 3px;
  }

  .estrella-amarilla{
    color: #ebba47
  }

  .estrella-gris{
    color: #8792a8;
  }

  