<div class="container">
    <div class="contenedor-actividad" *ngFor="let entrada of listaActividad">

      <ng-container *ngIf="entrada.puntuacion === 0">
        <!-- Si la puntuación es 0, el usuario no ha leído el libro -->

        <ng-container *ngIf="entrada.estado === 'leyendo'">
          <div class="entry-container">
            <app-libro [libro]="buscaLibro(entrada.idLibro)"></app-libro>
            <div class="activity-item">
              <p class="fecha">{{entrada.fecha}}</p>
              <div class="info-container">
                <span class="avatar"><strong>{{ entrada.nombre?.charAt(0) | uppercase }}</strong></span>
              <p class="infoEstado">{{ entrada.nombre }} ha comenzado a leer este libro</p>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="entrada.estado === 'deseado'">
          <div class="entry-container">
            <app-libro [libro]="buscaLibro(entrada.idLibro)"></app-libro>
            <div class="activity-item">
              <p class="fecha">{{entrada.fecha}}</p>
              <div class="info-container">
                <span class="avatar"><strong>{{ entrada.nombre?.charAt(0) | uppercase }}</strong></span>
              <p class="infoEstado">{{ entrada.nombre }} ha añadido este libro a su lista de deseos</p>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="entrada.estado === 'leido'">
        <!-- Si la puntuación es distinta de 0, el usuario ha leído el libro -->
        <div class="entry-container">
          <app-libro [libro]="buscaLibro(entrada.idLibro)"></app-libro>
          <div class="activity-item">
            <p class="fecha">{{entrada.fecha}}</p>
            <div class="info-container">
              <span class="avatar"><strong>{{ entrada.nombre?.charAt(0) | uppercase }}</strong></span>
            <p class="infoEstado">{{ entrada.nombre }} ha leído este libro</p>
            </div>
            <ng-container *ngIf="entrada.puntuacion !== 0" >
              <div class="puntuacion-container">
                <p class="infoEstado">Puntuación:</p>
                <div class="estrellas-container">
                  <p class="estrellas" *ngFor="let estrella of [0,1,2,3,4]">
                    <mat-icon [ngClass]="{'estrella-amarilla': estrella < entrada.puntuacion, 'estrella-gris': estrella >= entrada.puntuacion}">star</mat-icon>
                  </p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="entrada.critica !== null && entrada.critica !== ''" >
              <p class="infoEstado">Reseña: </p>
              <div class="infoRes">{{ entrada.critica }}</div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
</div>