@import "~bootstrap/dist/css/bootstrap-grid.css";
.container {
    max-width: 100%;
    margin: 0 auto;
  }

.libro-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .libro-card {
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
