.contenedor-categoria{
  position: relative;
  font-weight: 700;
  background-color: #EFE8E8;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 60px;
}

.contenedor-categoria .categoria-overlay {
  position: absolute;
  background-color: #EFE8E8;
  top: 0;
  right: 0;
  padding: 25px;
  text-align: center;
  max-width: 35%; 
  height: 460px; 
  background: linear-gradient(to left, rgba(219, 216, 215, 0.5), rgba(219, 216, 215, 0.5),  rgb(219, 216, 215, 0.5), rgb(219, 216, 215, 0.5), rgba(219, 216, 215, 0.5), rgba(15, 15, 15, 0));
}

.contenedor-categoria .categoria-overlay h2 {
  margin-top:30px;
  padding-bottom: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem; 
  color: #110107; 
  text-shadow: 
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  
}

.rectangulo{
  position: relative;
  z-index: 1; 
  margin-top:  -7rem;
  width: 100%;
  background-color:#00426C;
  border-radius:10px;
  box-shadow: 0px 1px 4px 1px rgb(8, 8, 7);
}
.contenedor-categoria .categoria-texto{
  margin-top: 10px;
  font-size: 1.5rem; 
  line-height: 35px;
  color: #221f1f; 
  text-align: right;
  padding-left:20px;
  margin-right: 50px;
  margin-left: 100px;
}


  .contenedor-categoria img {
    width: 100%;
    max-height: 500px;
    box-shadow: 0 4px 4px rgba(4, 15, 65, 0.61);

  }
  

  .listado-recomendados {
    padding: 40px 0; 
  }
  
  .listado-recomendados .container {
    text-align: center;
  }

.listado-recomendados {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listado-recomendados .container{
    max-width: 1400px;
    width: 100%;
    min-height: 500px;
    padding:10px;
}


.tituloCat{

    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top:40px;
    color:beige;
    font-size: 2.9rem;
    padding-bottom: 20px;

}

@media screen and (max-width: 1500px) {
  .categoria-overlay {
    display: none; 
  }
}