.contenedor-categoria{
    max-width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 20px; 
}

.categoria img {
    max-width: 100%; 
}

.categoria h2 {
    margin: 10px 0; 
}

.categoria-texto{
    margin: 10px 0;
    max-width: 50%;
    font-size: 1.1em;
}