.container {
    background-color:#EFE8E8;
    padding: 20px;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h2{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color:#302B2D;
  }

  .modificarPuntuacion{
    background-color: #E47171;
    cursor: pointer;
    padding: 15px;
    margin:20px;
    border-radius: 4px;
    color: #EFE8E8;
}

.modificarPuntuacion:hover {
    background-color: #9B3636;
}
  

  h3 {
    color: #302B2D; 
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px; 
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    
  }
  
  button {
    background-color: #EFE8E8;
    color: #302B2D; 
    padding: 10px 15px;
    border:1px solid #E47171;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  .boton{
    margin-left: auto;
    margin-bottom: 10px; 
  }
  .accion-libro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  button:hover {
    background-color: #E47171; 
  }

  .radio-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radio-label {
    margin-right: 10px;
    margin-top:10px;
}

.estado{
  padding:20px;
  text-align: center;
}

.datosCritica {
  text-align: center;
}

/*PRUEBA*/
input,
input::before,
label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#pattern4 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  color: coral;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;

}
#pattern4 input[type="radio"]::before {
  font-family: "Noto Sans Symbols 2", sans-serif;
  position: absolute;
  top: 4px;
  left: 2px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
#pattern4 input[type="radio"]:nth-of-type(1)::before {
  content: "🤓";
}
#pattern4 input[type="radio"]:nth-of-type(2)::before {
  content: "🧐";
}
#pattern4 input[type="radio"]:nth-of-type(3)::before {
  content: "😍";
}
#pattern4 input[type="radio"]:checked {
  transform: scale(0.5);
  margin-right:10px;
}
#pattern4 input[type="radio"]:checked::before {
  opacity: 1;
  transform: scale(2.3);
}