<div>
    <h3>Detalles del libro seleccionado</h3>
    <ul>
      <li><strong>Título:</strong> {{ data.libroSeleccionado.title }}</li>
      <!-- Agrega más campos según sea necesario -->
    </ul>
    <h2>Datos recibidos</h2>
    <ul>
      <li><strong>Estado del libro:</strong> {{ data.estadoLibro }}</li>
      <li><strong>Puntuación:</strong> {{ data.puntuacion }}</li>
      <li><strong>Critica:</strong> {{ data.critica }}</li>
    </ul>
  
    <!-- También puedes acceder a propiedades del libro seleccionado -->
    
  </div>
  
