.container {
    background-color:#EFE8E8;
    padding: 20px;
    min-height: 460px;
  }
  
  h3 {
    color: #302B2D; /* Cambiado a un color más oscuro */
  }
  
  ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
  }
  
  li {
    margin-bottom: 8px; /* Espaciado entre elementos de la lista */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  button {
    background-color: #EFE8E8;
    color: #302B2D; /* Color del texto blanco */
    padding: 10px 15px;
    border:1px solid #E47171;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
  }
  
  button:hover {
    background-color: #E47171; /* Cambia el color de fondo al pasar el ratón */
  }