<div class="container">
    <h2><strong> {{ data.libroSeleccionado.title }}</strong></h2>
    <div class="boton" *ngIf="data.estadoLibro !== 'Añadir a Favoritos'">
      <button (click)="eliminarLibroLocalStorage(data.libroSeleccionado.id)"><strong>Eliminar de Mis Libros</strong></button>   
    </div>

    <div class="accion-libro">
      
      <div class="estado">
        <h3>Estado del libro</h3>
        <section id="pattern4" class="radio-group">
          <input type="radio" name="g4" id="g4_1" value="leido"  [(ngModel)]="data.estadoLibro">
          <label class="radio-label" for="g4_1">Leído</label>
          <input type="radio" name="g4" id="g4_2" value="leyendo" [(ngModel)]="data.estadoLibro">
          <label class="radio-label" for="g4_2">Leyendo</label>
          <input type="radio" name="g4" id="g4_3" value="deseado" [(ngModel)]="data.estadoLibro">
          <label class="radio-label" for="g4_3">Deseado</label>
        </section>
        
          
      </div>
      <div class="datosCritica" *ngIf="data.estadoLibro === 'leido'">

        <div *ngIf="data.puntuacion !== 0">
          <p><strong>Mi puntuación:</strong> 
          <app-puntuacion-media [puntuacionMedia]="data.puntuacion"></app-puntuacion-media></p>
        </div>
        <div *ngIf="data.critica !== '' || data.critica !== null">
          <p><strong>Critica:</strong> {{ data.critica }}</p>
        </div>
        
        <p class="modificarPuntuacion" (click)="mostrarModificarPuntuacion = !mostrarModificarPuntuacion">Puntúa o escribe una reseña</p>
        <div *ngIf="mostrarModificarPuntuacion">
          <app-estrellas (puntuacionSeleccionada)="actualizarPuntuacion($event)"></app-estrellas>
          <textarea name="critica" id="critica" cols="60" rows="10" [(ngModel)]="data.critica"></textarea>
        </div>
      </div>
    </div>
      
    
    <button class="boton" (click)="actualizarLibroLocalStorage(data.libroSeleccionado.id, data.estadoLibro, data.critica)">Guardar</button>
    
  </div>
  
