/*--mat-menu-container-color: #122747;*/

.horizontal-navigation {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: #122747;
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000; /* Aseguro que esté por encima de otros elementos */
  }

  .logo-container {
    display: flex;
    align-items: center;
}
  
  .horizontal-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .horizontal-navigation li {
    margin-right: 20px;
  }
  
  .horizontal-navigation a {
    color: #F9F6F6;
    text-decoration: none;
  }

  .nav-opcion{
    padding: 10px;
    
  } 

  button{
    font-size: 15px !important;
  }

  /*boton login*/
  .nav-opcion:last-child {
    margin-left: auto;
  }

  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  
  .input {
    padding: 8px; 
    width: 300px;
    margin-right: 0; /* Elimina el margen derecho */
  }
  
  .item-categoria a {
    background-color: #122747;
    color: #F9F6F6;
    text-decoration: none;
  }

  .item-categoria{
    background-color: #122747;
  }

  .item-categoria a:hover {
    background-color: #122747;
  }

  .logo-pequeno {
    width: 70px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* Esto mantiene la proporción original al ajustar el ancho */
}

.mat-mdc-button:not(:disabled){
  color:#F9F6F6;
}


