<span translate="no">
<nav class="horizontal-navigation" >
    <div class="logo-container">
        <img src="../../../../assets/logoLectured.png" alt="logo proyecto" class="logo-pequeno">
    </div>
    <div class="burger-menu" (click)="toggleMenu()">
        <i class="material-icons"> {{ isMenuOpen ? "close" : "menu"}}</i>
    </div>
    <div class="menu" [class.is-open]="isMenuOpen">
        <div class="nav-opcion logo-container" routerLinkActive="active">
            <button mat-button routerLink="/home">Home</button>
        </div>
        <div class="nav-opcion logo-container" routerLinkActive="active">
            <button mat-button [matMenuTriggerFor]="afterMenu">Categorías</button>
            <mat-menu  #afterMenu="matMenu" xPosition="after">
                <div class="submenu-contenedor">
                    <button mat-menu-item class="item-categoria" *ngFor="let categoria of categorias" routerLink="/categorias/{{ categoria.url}}">{{ categoria.titulo }}</button>
                </div>
            </mat-menu>
        </div>
        <div class="nav-opcion logo-container" routerLinkActive="active">
            <button mat-button routerLink="/actividad">Actividad</button>
        </div>
        <ng-container *ngIf="estaLogueado()">
            <div class="nav-opcion logo-container" routerLinkActive="active">
                <button mat-button routerLink="/mislibros">Mis Libros</button>
            </div>
        </ng-container>
        <ng-container *ngIf="estaLogueado()">
            <div class="nav-opcion logo-container" routerLinkActive="active">
                <button mat-button routerLink="/miactividad">Mi Actividad</button>
            </div>
        </ng-container>
    </div>
    <div class="nav-opcion logo-container">
        <div class="container-form">
            <input class="input" type="text" placeholder="Buscar libros" [(ngModel)]='queryparams' (keyup.enter)="buscarLibros()">
            <button mat-button (click)="buscarLibros()">Buscar</button>
        </div>
    </div>   
    <div class="nav-opcion logo-container">
        <div class="container-icono">
            <button mat-icon-button [matMenuTriggerFor]="menuOptions">
                <ng-container *ngIf="estaLogueado()">
                    <div class="avatar"><strong>{{ name?.charAt(0) | uppercase }}</strong></div>
                  </ng-container>
                  <ng-container *ngIf="!estaLogueado()">
                    <mat-icon>account_circle</mat-icon>
                  </ng-container>
            </button>
            <p class="logo-text">{{name}}</p>
        </div>
         <!-- Menú desplegable con todas las opciones -->    
        <mat-menu class="submenu-contenedor" #menuOptions="matMenu">
            <ng-container *ngIf="!estaLogueado(); else noLogin">
              <a mat-menu-item class="item-categoria" href="http://127.0.0.1:8000/login">Iniciar sesión</a>
              <a mat-menu-item class="item-categoria" href="http://127.0.0.1:8000/register">Registrarse</a>
            </ng-container>
            <ng-template #noLogin>
              <a mat-menu-item class="item-categoria" href="http://127.0.0.1:8000/profile">Perfil</a>
              <a mat-menu-item class="item-categoria" (click)="logout()">Cerrar sesión</a>
            </ng-template>
          </mat-menu>

    </div>
</nav>
</span>