.horizontal-navigation {
    background-color: #1b1b32;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .horizontal-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .horizontal-navigation li {
    margin-right: 20px;
  }
  
  .horizontal-navigation a {
    color: #fff;
    text-decoration: none;
  }

  .nav-opcion{
    padding: 10px;
    font-size: 1.2em;;
  } 

  /*boton login*/
  .nav-opcion:last-child {
    margin-left: auto;
  }

  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  
  .input {
    padding: 8px; /* Ajusta el padding según tu preferencia */
    width: 300px;
    margin-right: 0; /* Elimina el margen derecho */
  }
  
  .boton-buscar {
    background-color: #1b1b32;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
  }

  .boton-buscar:hover{
    background-color: #393966;
  }

  .item-categoria a {
    background-color: #1b1b32;
    color: white;
    text-decoration: none;
  }

  .item-categoria{
    background-color: #1b1b32;
  }
  .item-categoria a:hover {
    background-color: #313157;
  }