<nav class="horizontal-navigation">
    <div class="nav-opcion">
        <img src="../../../../assets/logo1.png" alt="logo proyecto" class="logo-pequeno">
    </div>
    <div class="nav-opcion">
        <button mat-button><a routerLink="/home">Home</a></button>
    </div>
    <div class="nav-opcion">
        <button mat-button [matMenuTriggerFor]="afterMenu">Categorías</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item class="item-categoria" *ngFor="let categoria of categorias"><a routerLink="/categorias/{{ categoria.url}}">{{ categoria.titulo }}</a></button>
        </mat-menu>
    </div>
    <div class="nav-opcion">
        <button mat-button><a routerLink="/actividad">Actividad</a></button>
    </div>
    <div class="nav-opcion">
        <button mat-button><a routerLink="/home">Mis Lisbros</a></button>
    </div>
    <div class="nav-opcion">
        <div class="container-form">
            <input class="input" type="text" placeholder="Buscar libros" [(ngModel)]='queryparams'>
            <button mat-button (click)="buscarLibros()">Buscar</button>
        </div>
    </div>   
    <div class="nav-opcion nav-login">
        <button mat-button><a routerLink="/auth/login">Login</a></button>
    </div>
</nav>
