<h2>Personaliza tu búsqueda</h2>

<div class="container-busqueda">
  <input class="input" type="text" [(ngModel)]='queryparams' placeholder="Buscar libros">
  <button>Buscar</button>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
    <mat-tab class="custom-tab-label" label="Todo">
      <app-libro-listas></app-libro-listas>
    </mat-tab>
    <mat-tab label="Autor">
      <app-libro-listas></app-libro-listas>
    </mat-tab>
    <mat-tab label="Titulo">
      <app-libro-listas></app-libro-listas>
    </mat-tab>
  </mat-tab-group>
</div>
<!--
<h2>Personaliza tu búsqueda</h2>

<div class="container-busqueda">
<input class="input" type="text" [(ngModel)]='queryparams' placeholder="Buscar libros">
<mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
    
    <mat-tab class="custom-tab-label" label="Todo"> 
        <h2>Busqueda de Todo</h2>
        <app-libro-listas #bookList1 [queryparams] = "queryparams" [opcionBusqueda] = 1></app-libro-listas>
    </mat-tab>

    <mat-tab label="Autor">
        <h2>Busqueda de Autor</h2>
        <app-libro-listas #bookList2 [queryparams] = "queryparams" [opcionBusqueda] = 2></app-libro-listas>
    </mat-tab>

    <mat-tab label="Titulo">
        <h2>Busqueda de Titulo</h2>
        <app-libro-listas #bookList3 [queryparams] = "queryparams" [opcionBusqueda] = 3></app-libro-listas>
    </mat-tab>

</mat-tab-group>

</div>-->