.container-busqueda{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 100%; 
  padding: 10px; 
  background-color:#EFE8E8;
}

.container-form{
  width: 60%; 
  padding: 30px;
}

.container-resultado{
  width: 80%;
}

.boton-buscar{
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-size: 1.3em;
  cursor: pointer;
  display: inline-block;
  color: #242222;
  background-color: #f3f0eb;
  line-height: 1;
  padding: 10px 12px;
  margin-left: 5px;
}

.boton-buscar:hover{
  background-color: #dbd8d2;
}

.input{
    width: 80%; 
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px; 
}

/* Estilo para mat-tab-group */
mat-tab-group {
    width: 100%;
    margin: 0 auto; 
  }
  
  /* Estilo para mat-tab */
  .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #850a3b;
    --mat-tab-header-inactive-label-text-color: #744931;
    --mat-tab-header-active-label-text-color: #c2185b;
    --mat-tab-header-active-ripple-color: #c2185b;
    --mat-tab-header-inactive-ripple-color: #c2185b;
    --mat-tab-header-inactive-focus-label-text-color: rgba(117, 85, 85, 0.61);
    --mat-tab-header-inactive-hover-label-text-color: rgba(168, 166, 166, 0.911);
}

::ng-deep .mat-mdc-tab-header {
  --mat-tab-header-label-text-size:20px 
}
  /* Estilo para el contenido del mat-tab */
  mat-tab-content {
    padding: 1px; 
  }

.separacion{
    margin-top:20px;
  }

  ::ng-deep.mat-mdc-tab-body-content {
    height: 100% !important;
    overflow-x: hidden !important;
}

