.contenedor{
  background-color:#EFE8E8;
}
.contenedor-actividad {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 10px; /* Espacio entre elementos */
  }
  
  .activity-item {
    flex: 1; /* Los elementos ocuparán un espacio igual en el contenedor */
  }
  
h3{

    font-family: 'Dancing Script', cursive;
    font-size: 2.9rem;
    padding: 30px;
    margin-top:50px;
}