.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor-mislibros {
  background-color: #EFE8E8;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
}

.contenedor-min {
  background-color: #EFE8E8;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.contenedor-actividad {
  padding-left: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 25px; /* Espacio entre elementos */
  }

  .barra-espaciadora {
    margin-top:40px;
    width: 60%;
    height: 40px; /* Grosor de la línea */
    background: rgb(239,232,232);
    background: linear-gradient(90deg, rgba(239,232,232,1) 0%, rgba(0,66,108,1) 50%, rgba(239,232,232,1) 100%);
  }
  
  .activity-item {
    flex: 1; /* Los elementos ocuparán un espacio igual en el contenedor */
  }
  
h3{

    font-family: 'Dancing Script', cursive;
    font-size: 2.9rem;
    padding: 30px;
    margin-top:50px;
}