@import "~bootstrap/dist/css/bootstrap-grid.css";
.container-principal {
  background-color: #EFE8E8;
}
.banner {
    background-image: url('../../../../../assets/bannerHome.png');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 700px;
    max-height: 100vh;
} 

p{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top:40px;
  color:#EFE8E8;
  font-size: 2.9rem;
  padding-bottom: 20px;
}

/*listado de libros*/
.container-reco {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.libro-container-reco {
  display: flex;
  flex-wrap: wrap;
}

.libro-card {
  /*width: calc(20% - 20px); 
  margin: 10px; 
  padding: 10px;
  /*box-shadow: 0 9px 4px rgba(12, 11, 11, 0.1);*/
  /*box-sizing: border-box;
  text-align: center;
  /*background-color:#EFE8E8;*/
  flex: 0 0 calc(20% - 20px);
  max-width: calc(20% - 20px);
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

  .listado-recomendados {
    display: flex;
    justify-content: center;
}

.container.text-center.rectangulo {
   width: 100%;
  max-width: 1200px; /* O ajusta según tus necesidades */
  box-sizing: border-box;
}

.listado-recomendados .container{
    max-width: 1400px;
    width: 100%;
    min-height: 400px;
    padding:10px;
}

.rectangulo, .rectangulo2{
    width: 100%;
    background-color:#00426C;
    border-radius:10px;
    box-shadow: 0px 1px 4px 1px rgb(8, 8, 7);
}

.rectangulo{
  margin-top:  -7rem;
}

.elemento-superpuesto {
    display: inline-block;
    width: calc(20%); /* Establece el ancho de cada libro al 20% del contenedor */
  }

  .superpuesto {
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }


  .superpuesto[_ngcontent-ng-c3809421292]{
    background-color: rgb(33, 49, 73);
  }

  
