<div class="container-principal">
    <div class="banner"></div>
    <section class="listado-recomendados">
        <div class="container">
            <div class="container text-center rectangulo">
                <p>Recomendados</p>
                <div class="container-reco">
                    <div class="row libro-container-reco">
                        <div class="col-sm-6 col-md-4 col-lg-3 libro-card" *ngFor="let entrada of listaRecomendados">
                            <app-libro class="superpuesto" [libro]="buscaLibro(entrada.idLibro)"></app-libro>
                        </div>     
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <section class="listado-recomendados">
        <div class="container">
            <div class="container text-center rectangulo2">
                <p>Novedades</p>
                <app-libro-listas></app-libro-listas>
                
            </div>
        </div>
    </section>
    <!--footer-->
    <footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
        <p class="footer-texto text-center">Los libros son el pasaporte a mundos desconocidos<br><br>y la llave para el crecimiento personal</p>
        <div class="iconos-redes">
            <a href="https://github.com/crisrdguez/LectuRed" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <div class="logo-container">
            <img src="../../../../assets/logoLectured.png" alt="logo proyecto" class="logo-pequeno">
        </div>
        <div class="derechos">Creado por Mabel y Cris (2023) &#169;</div>
    </footer>
</div>