.banner {
    background-image: url('../../../../../assets/bannerHome.png');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 700px;
    max-height: 100vh;
} 

p{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top:40px;
  color:beige;
  font-size: 2.9rem;
  padding-bottom: 20px;
}

/*listado de libros*/

  .listado-recomendados {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listado-recomendados .container{
    max-width: 1400px;
    width: 100%;
    min-height: 500px;
    padding:10px;
}

.rectangulo, .rectangulo2{
    width: 100%;
    background-color: rgb(33, 49, 73);
    border-radius:10px;
    box-shadow: 0px 1px 4px 1px wheat;
}

.rectangulo{
  margin-top:  -7rem;
}

.elemento-superpuesto {
    display: inline-block;
    width: calc(20%); /* Establece el ancho de cada libro al 20% del contenedor */
  }

  .superpuesto[_ngcontent-ng-c3809421292]{
    background-color: rgb(33, 49, 73);
  }

  /*footer*/
  footer{
    min-height: 400px;
    text-align: center;
    padding: 20px;
}

.seccion-oscura{
  color:white;
  background-color:#0c1c34;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.iconos-redes a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius:50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i{
    color:white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover{
    background-color: white;
    border:2px solid rgb(209, 212, 0);

}

.iconos-redes a:hover i{
    color:black;
}

.derechos{
    font-size: 15px;
    color:#aeaeae;
    padding:20px;
}

.logo-pequeno {
  width: 200px; 
  height: auto; 
}
