/*footer*/

footer{
    min-height: 300px;
    text-align: center;
    padding: 20px;
}

.seccion-oscura{
  color:#EFE8E8;
  background-color:#122747;
}

.footer-logo{
    height: 55px;
    width: 55px;
    margin: 8px;
}

.footer-texto{
    font-size: 1.4rem;
    margin-top: 16px;
    font-family: 'Dancing Script', cursive;;
}

.iconos-redes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.iconos-redes a{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    border: 2px solid #EFE8E8;
    border-radius:50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i{
    color:#EFE8E8;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover{
    background-color: #EFE8E8;
    border:2px solid #E4c57f;

}

.iconos-redes a:hover i{
    color:black;
}

.derechos{
    font-size: 15px;
    color:#EFE8E8;

}

.logo-pequeno {
  width: 200px; 
  height: auto; 
}